<a href="https://colab.research.google.com/github/santhanreddy864/In-class-exercise-1/blob/main/In_class_exercise_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The fourth in-class-exercise (20 points in total, 2/9/2021)**

# 1. Text Data Preprocessing

Here is a [legal case](https://github.com/unt-iialab/info5731_spring2021/blob/main/class_exercises/01-05-1%20%20Adams%20v%20Tanner.txt) we collected from westlaw, please follow the steps we mentioned in lesson 5 to clean the data:



## 1.1 Basic feature extraction using text data (4 points)

*   Number of sentences
*   Number of words
*   Number of characters
*   Average word length
*   Number of stopwords
*   Number of special characters
*   Number of numerics
*   Number of uppercase words

## 1.2 Basic Text Pre-processing of text data (4 points)

*   Lower casing
*   Punctuation removal
*   Stopwords removal
*   Frequent words removal
*   Rare words removal
*   Spelling correction
*   Tokenization
*   Stemming
*   Lemmatization

## 1.3 Save all the **clean sentences** to a **csv file** (one column, each raw is a sentence) after finishing all the steps above. (4 points)


## 1.4 Advance Text Processing (Extra credit: 4 points)

*   Calculate the term frequency of all the terms.
*   Print out top 10 1-gram, top 10 2-grams, and top 10 3-grams terms as features.

In [1]:
#  Basic feature extraction using text data
import pandas as pd
from six.moves import urllib
array = []
url = "https://raw.githubusercontent.com/unt-iialab/info5731_spring2021/main/class_exercises/01-05-1%20%20Adams%20v%20Tanner.txt"
x = urllib.request.urlopen(url)
for f in x:
  d = f.decode("utf-8").replace('\r\n', '')
  if d:
    array.append(d)

df = pd.DataFrame (array, columns = ['Raw Text'])    
print(df)

                                              Raw Text
0                                           5 Ala. 740
1                            Supreme Court of Alabama.
2                                                ADAMS
3                                                   v.
4                                   TANNER AND HORTON.
..                                                 ...
143            There are no Filings for this citation.
144                                 Negative Treatment
145  There are no Negative Treatment results for th...
146                                            History
147    There are no History results for this citation.

[148 rows x 1 columns]

In [3]:
#total sentences
df['No of sentences'] = df['Raw Text'].apply(lambda x: len(str(x).split(".")))
df

                                              Raw Text  ...  No of sentences
0                                           5 Ala. 740  ...                2
1                            Supreme Court of Alabama.  ...                2
2                                                ADAMS  ...                1
3                                                   v.  ...                2
4                                   TANNER AND HORTON.  ...                2
..                                                 ...  ...              ...
143            There are no Filings for this citation.  ...                2
144                                 Negative Treatment  ...                1
145  There are no Negative Treatment results for th...  ...                2
146                                            History  ...                1
147    There are no History results for this citation.  ...                2

[148 rows x 3 columns]

In [4]:
#total words
df['No of Words'] = df['Raw Text'].apply(lambda x: len(str(x).split(" ")))
df

                                              Raw Text  ...  No of Words
0                                           5 Ala. 740  ...            3
1                            Supreme Court of Alabama.  ...            4
2                                                ADAMS  ...            1
3                                                   v.  ...            1
4                                   TANNER AND HORTON.  ...            3
..                                                 ...  ...          ...
143            There are no Filings for this citation.  ...            7
144                                 Negative Treatment  ...            2
145  There are no Negative Treatment results for th...  ...            9
146                                            History  ...            1
147    There are no History results for this citation.  ...            8

[148 rows x 4 columns]

In [5]:
#total characters
df['No of Characters'] = df['Raw Text'].str.len()
df

                                              Raw Text  ...  No of Characters
0                                           5 Ala. 740  ...                10
1                            Supreme Court of Alabama.  ...                25
2                                                ADAMS  ...                 5
3                                                   v.  ...                 2
4                                   TANNER AND HORTON.  ...                18
..                                                 ...  ...               ...
143            There are no Filings for this citation.  ...                39
144                                 Negative Treatment  ...                18
145  There are no Negative Treatment results for th...  ...                58
146                                            History  ...                 7
147    There are no History results for this citation.  ...                47

[148 rows x 5 columns]

In [10]:
#average word length
def avg(sent):
  x = sent.split()
  if len(x) != 0:
    return(sum(len(word) for word in x)/len(x))
  else:
    return None
df['Avg Word Length'] = df['Raw Text'].apply(lambda x: avg(x))
df

                                              Raw Text  ...  Avg Word Length
0                                           5 Ala. 740  ...         2.666667
1                            Supreme Court of Alabama.  ...         5.500000
2                                                ADAMS  ...         5.000000
3                                                   v.  ...         2.000000
4                                   TANNER AND HORTON.  ...         5.333333
..                                                 ...  ...              ...
143            There are no Filings for this citation.  ...         4.714286
144                                 Negative Treatment  ...         8.500000
145  There are no Negative Treatment results for th...  ...         5.555556
146                                            History  ...         7.000000
147    There are no History results for this citation.  ...         5.000000

[148 rows x 6 columns]

In [17]:
#number of stopwords
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
stop = stopwords.words('english')
df['No of Stopwords'] = df['Raw Text'].apply(lambda x: len([x for x in x.split() if x in stop]))
df

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                              Raw Text  ...  No of Stopwords
0                                           5 Ala. 740  ...                0
1                            Supreme Court of Alabama.  ...                1
2                                                ADAMS  ...                0
3                                                   v.  ...                0
4                                   TANNER AND HORTON.  ...                0
..                                                 ...  ...              ...
143            There are no Filings for this citation.  ...                4
144                                 Negative Treatment  ...                0
145  There are no Negative Treatment results for th...  ...                4
146                                            History  ...                0
147    There are no History results for this citation.  ...                4

[148 rows x 10 columns]

In [16]:
#number of special characters
def char(sent):
  x = 0
  for y in range(len(sent)):
    if not((sent[y].isalpha()) and (sent[y].isdigit())):
        x = x + 1
  return x
df['No of special characters'] = df['Raw Text'].apply(lambda x: char(x))
df

                                              Raw Text  ...  No of special characters
0                                           5 Ala. 740  ...                        10
1                            Supreme Court of Alabama.  ...                        25
2                                                ADAMS  ...                         5
3                                                   v.  ...                         2
4                                   TANNER AND HORTON.  ...                        18
..                                                 ...  ...                       ...
143            There are no Filings for this citation.  ...                        39
144                                 Negative Treatment  ...                        18
145  There are no Negative Treatment results for th...  ...                        58
146                                            History  ...                         7
147    There are no History results for this citation.  ...                        47

[148 rows x 9 columns]

In [18]:
#number of numerics
df['No of numerics'] = df['Raw Text'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
df

                                              Raw Text  ...  No of numerics
0                                           5 Ala. 740  ...               2
1                            Supreme Court of Alabama.  ...               0
2                                                ADAMS  ...               0
3                                                   v.  ...               0
4                                   TANNER AND HORTON.  ...               0
..                                                 ...  ...             ...
143            There are no Filings for this citation.  ...               0
144                                 Negative Treatment  ...               0
145  There are no Negative Treatment results for th...  ...               0
146                                            History  ...               0
147    There are no History results for this citation.  ...               0

[148 rows x 11 columns]

In [19]:
#Number of uppercase words
df['No of upper case words'] = df['Raw Text'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
df

                                              Raw Text  ...  No of upper case words
0                                           5 Ala. 740  ...                       0
1                            Supreme Court of Alabama.  ...                       0
2                                                ADAMS  ...                       1
3                                                   v.  ...                       0
4                                   TANNER AND HORTON.  ...                       3
..                                                 ...  ...                     ...
143            There are no Filings for this citation.  ...                       0
144                                 Negative Treatment  ...                       0
145  There are no Negative Treatment results for th...  ...                       0
146                                            History  ...                       0
147    There are no History results for this citation.  ...                       0

[148 rows x 12 columns]

In [20]:
#Basic Text Pre-processing of text data

#Lower casing
df['Lower Case'] = df['Raw Text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df

                                              Raw Text  ...                                         Lower Case
0                                           5 Ala. 740  ...                                         5 ala. 740
1                            Supreme Court of Alabama.  ...                          supreme court of alabama.
2                                                ADAMS  ...                                              adams
3                                                   v.  ...                                                 v.
4                                   TANNER AND HORTON.  ...                                 tanner and horton.
..                                                 ...  ...                                                ...
143            There are no Filings for this citation.  ...            there are no filings for this citation.
144                                 Negative Treatment  ...                                 negative treatment
145  There are no Negative Treatment results for th...  ...  there are no negative treatment results for th...
146                                            History  ...                                            history
147    There are no History results for this citation.  ...    there are no history results for this citation.

[148 rows x 13 columns]

In [21]:
#Punctuation removal
df['Punctuation removal'] = df['Lower Case'].str.replace('[^\w\s]','')
df

                                              Raw Text  ...                                Punctuation removal
0                                           5 Ala. 740  ...                                          5 ala 740
1                            Supreme Court of Alabama.  ...                           supreme court of alabama
2                                                ADAMS  ...                                              adams
3                                                   v.  ...                                                  v
4                                   TANNER AND HORTON.  ...                                  tanner and horton
..                                                 ...  ...                                                ...
143            There are no Filings for this citation.  ...             there are no filings for this citation
144                                 Negative Treatment  ...                                 negative treatment
145  There are no Negative Treatment results for th...  ...  there are no negative treatment results for th...
146                                            History  ...                                            history
147    There are no History results for this citation.  ...     there are no history results for this citation

[148 rows x 14 columns]

In [23]:
#Stopwords removal
import nltk
from nltk.corpus import stopwords
remove = stopwords.words('english')
df['Stopwords Removal'] = df['Punctuation removal'].apply(lambda x: " ".join(x for x in x.split() if x not in remove))
df

                                              Raw Text  ...                    Stopwords Removal
0                                           5 Ala. 740  ...                            5 ala 740
1                            Supreme Court of Alabama.  ...                supreme court alabama
2                                                ADAMS  ...                                adams
3                                                   v.  ...                                    v
4                                   TANNER AND HORTON.  ...                        tanner horton
..                                                 ...  ...                                  ...
143            There are no Filings for this citation.  ...                     filings citation
144                                 Negative Treatment  ...                   negative treatment
145  There are no Negative Treatment results for th...  ...  negative treatment results citation
146                                            History  ...                              history
147    There are no History results for this citation.  ...             history results citation

[148 rows x 15 columns]

In [27]:
#Frequent words removal
x = pd.Series(' '.join(df['Stopwords Removal']).split()).value_counts()[:10]
print(x)
y = list(x.index)
df[' Removed common words'] = df['Stopwords Removal'].apply(lambda x: " ".join(x for x in x.split() if x not in y))
df

execution    50
crop         49
levy         25
lien         25
v            22
claimants    22
case         21
right        21
court        20
gathered     19
dtype: int64

                                              Raw Text  ...                 Removed common words
0                                           5 Ala. 740  ...                            5 ala 740
1                            Supreme Court of Alabama.  ...                      supreme alabama
2                                                ADAMS  ...                                adams
3                                                   v.  ...
4                                   TANNER AND HORTON.  ...                        tanner horton
..                                                 ...  ...                                  ...
143            There are no Filings for this citation.  ...                     filings citation
144                                 Negative Treatment  ...                   negative treatment
145  There are no Negative Treatment results for th...  ...  negative treatment results citation
146                                            History  ...                              history
147    There are no History results for this citation.  ...             history results citation

[148 rows x 19 columns]

In [29]:
#Rare words removal
x = pd.Series(' '.join(df['Stopwords Removal']).split()).value_counts()[-10:]
print(x)
y = list(x.index)
df[' Removed rare words'] = df['After common words removal'].apply(lambda x: " ".join(x for x in x.split() if x not in y))
df

418              1
performance      1
claimant         1
258              1
specific         1
temporary        1
perhaps          1
retrospective    1
jun              1
compel           1
dtype: int64

                                              Raw Text  ...                   Removed rare words
0                                           5 Ala. 740  ...                            5 ala 740
1                            Supreme Court of Alabama.  ...                      supreme alabama
2                                                ADAMS  ...                                adams
3                                                   v.  ...
4                                   TANNER AND HORTON.  ...                        tanner horton
..                                                 ...  ...                                  ...
143            There are no Filings for this citation.  ...                     filings citation
144                                 Negative Treatment  ...                   negative treatment
145  There are no Negative Treatment results for th...  ...  negative treatment results citation
146                                            History  ...                              history
147    There are no History results for this citation.  ...             history results citation

[148 rows x 20 columns]

In [30]:
#Spelling correction
from textblob import TextBlob
df['Spelling Correction'] = df['After Rare Words removal'].apply(lambda x: str(TextBlob(x).correct()))
df

                                              Raw Text  ...                   Spelling Correction
0                                           5 Ala. 740  ...                             5 all 740
1                            Supreme Court of Alabama.  ...                       supreme alabama
2                                                ADAMS  ...                                 adams
3                                                   v.  ...
4                                   TANNER AND HORTON.  ...                         manner norton
..                                                 ...  ...                                   ...
143            There are no Filings for this citation.  ...                      filing situation
144                                 Negative Treatment  ...                    negative treatment
145  There are no Negative Treatment results for th...  ...  negative treatment results situation
146                                            History  ...                               history
147    There are no History results for this citation.  ...             history results situation

[148 rows x 21 columns]

In [31]:
#Tokenization
import nltk
nltk.download('punkt')
df['Tokenization'] = df['Spelling Correction'].apply(lambda x: TextBlob(x).words)
df

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

                                              Raw Text  ...                               Tokenization
0                                           5 Ala. 740  ...                              [5, all, 740]
1                            Supreme Court of Alabama.  ...                         [supreme, alabama]
2                                                ADAMS  ...                                    [adams]
3                                                   v.  ...                                         []
4                                   TANNER AND HORTON.  ...                           [manner, norton]
..                                                 ...  ...                                        ...
143            There are no Filings for this citation.  ...                        [filing, situation]
144                                 Negative Treatment  ...                      [negative, treatment]
145  There are no Negative Treatment results for th...  ...  [negative, treatment, results, situation]
146                                            History  ...                                  [history]
147    There are no History results for this citation.  ...              [history, results, situation]

[148 rows x 22 columns]

In [32]:
#Stemming
from nltk.stem import PorterStemmer
st = PorterStemmer()
df[' Stemming'] = df['Tokenization'].apply(lambda x: " ".join([st.stem(word) for word in x]))
df

                                              Raw Text  ...                     Stemming
0                                           5 Ala. 740  ...                    5 all 740
1                            Supreme Court of Alabama.  ...               suprem alabama
2                                                ADAMS  ...                         adam
3                                                   v.  ...
4                                   TANNER AND HORTON.  ...                manner norton
..                                                 ...  ...                          ...
143            There are no Filings for this citation.  ...                  file situat
144                                 Negative Treatment  ...                neg treatment
145  There are no Negative Treatment results for th...  ...  neg treatment result situat
146                                            History  ...                      histori
147    There are no History results for this citation.  ...        histori result situat

[148 rows x 23 columns]

In [34]:
#Lemmatization
from textblob import Word
import nltk
nltk.download('wordnet')
df['Lemmatization'] = df[' Stemming'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
df

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

                                              Raw Text  ...                Lemmatization
0                                           5 Ala. 740  ...                    5 all 740
1                            Supreme Court of Alabama.  ...               suprem alabama
2                                                ADAMS  ...                         adam
3                                                   v.  ...
4                                   TANNER AND HORTON.  ...                manner norton
..                                                 ...  ...                          ...
143            There are no Filings for this citation.  ...                  file situat
144                                 Negative Treatment  ...                neg treatment
145  There are no Negative Treatment results for th...  ...  neg treatment result situat
146                                            History  ...                      histori
147    There are no History results for this citation.  ...        histori result situat

[148 rows x 24 columns]

In [38]:
#saving it to csv
df.to_csv('cleaned_data.csv',index=False)

In [45]:
#Advance Text Processing

#Calculating Term frequencies
x = (df['Lemmatization']).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
x.columns = ['words','term_fre']
x

       words  term_fre
0        all      17.0
1        740       2.0
2          5       8.0
3    alabama       1.0
4     suprem       1.0
..       ...       ...
699      let       1.0
700    grain       1.0
701     file       2.0
702      neg       2.0
703  histori       2.0

[704 rows x 2 columns]

# 2. Python Regular Expression

## 2.1 Write a Python program to remove leading zeros from an IP address. (4 points)

ip = "260.08.094.109"

In [1]:
import re
ip = "260.08.094.109"
x = re.sub('\.[0]*', '.', ip)
print(x)

260.8.94.109

## 2.2 Write a Python Program to extract all the years from the following sentence. (4 points)

sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."

In [2]:
import re
x = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."
years = re.findall(r'2\d\d\d', x)
print("extracted years from the following sentence:",years)

extracted years from the following sentence: ['2010', '2010', '2019']